/* Styling for the Instant Content Plugin */

h2.nav-tab-wrapper {
	margin-bottom:20px;
}

.search-box {
	padding: 5px 15px 10px;
}

.results-table td {
	padding: 15px 7px;
}

.table-footer-row {
	display: none;
}

.results-table .no-border {
	border: none;
}

.tablenav {
	display: none;
}

.widefat .column-date {
	width: 180px;
}

.widefat td, .widefat th {
	padding: 8px 7px;
}

.widefat .tr-info td {
	padding: 14px 7px;
}

.instant-content-updated .waiting {
	margin: 0 10px -3px 0;
}

.instant-content-cart-notice .button {
	margin-left:20px;
}

.instant-content-cart-notice .dashicons-cart {
	margin:0 10px 0 0;
}

.cart-icon {
	font-family: "dashicons";
	content: "\f100";
}

.item-in-cart {
	background: #fafafa;
}

.tablenav .tablenav-pages {
	display: none;
}

#iframe-terms {
	display: block;
	width:90%;
	max-width:600px;
	height:200px;
	border:1px solid #ccc;
	border-radius:3px;
	margin-bottom:20px;
}

.instant-content-terms {
	margin-top:20px;
}
