/* Styling for the Instant Content Plugin */

h2.nav-tab-wrapper {
	margin-bottom:20px;
}

.results-table td {
	padding: 15px 7px;
}

.table-footer-row {
	display: none;
}

.results-table .no-border {
	border: none;
}

.widefat .column-date {
	width: 180px;
}

.widefat .tr-info td {
	padding: 14px 7px;
}

.instant-content-updated .waiting {
	margin: 0 10px -3px 0;
}

.tablenav .tablenav-pages {
	display: none;
}

#iframe-terms {
	display: block;
	width:90%;
	max-width:600px;
	height:200px;
	border:1px solid #ccc;
	border-radius:3px;
	margin-bottom:20px;
}

.instant-content-terms {
	margin-top:20px;
}
